@model object

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="dist/main.css"/>
</head>
<body>
<div>
    Hello World
</div>
<div id="root"></div>

<script src="dist/main.js" asp-append-version="true"></script>
</body>
</html>